<div class="loginpopup" ng-controller="eventLoginController" >
  //
    <md-content   layout="row" layout-align="space-around" ng-hide="eventregister" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form logincontent">
      <md-card flex="flex" class="loginbox">
        <md-toolbar>
          <div class="md-toolbar-tools" style="background:#009add;color=#b2b2b2">
            <h2><span>Event Manager - Login</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="FormLogin">
            <md-input-container class="md-block">
              <label>Login</label>
              <input type="text" name="email" ng-model="vm.formData.email" placeholder="login" required=""/>
              <div ng-messages="FormLogin.email.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your email.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="vm.formData.password" placeholder="password" required="" md-maxlength="16"/>
              <div ng-messages="FormLogin.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!FormLogin.$valid" class="md-raised md-primary" ng-click="login()">&nbsp Login &nbsp</md-button>
            <div>Don't have an account? <span class="registernavi" ng-click="showregister()">Sign up</span></div>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
    <!-- Angular Material Dependencies-->


     <md-content   layout="row" layout-align="space-around" ng-show="eventregister" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form logincontent">
      <md-card flex="flex" class="loginbox">
        <md-toolbar>
          <div class="md-toolbar-tools" style="background:#009add;color=#b2b2b2">
            <h2><span>Registration</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <label>First Name</label>
              <input type="text" name="FirstName" ng-model="vm.formData.Firstname" placeholder="First Name" required=""/>
              <div ng-messages="Form.FirstName.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your First Name.</div>
              </div>
            </md-input-container>
             <md-input-container class="md-block">
              <label>Last Name</label>
              <input type="text" name="LastName" ng-model="vm.formData.Lastname" placeholder="Last Name" required=""/>
              <div ng-messages="Form.LastName.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your Last Name.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Email</label>
              <input type="text" name="emailreg" ng-model="vm.formData.emailregister" placeholder="Email" required=""/>
              <div ng-messages="Form.emailreg.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your email.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="passwordreg" ng-model="vm.formData.passwordregister" placeholder="password" required="" md-maxlength="16"/>
              <div ng-messages="Form.passwordreg.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" class="md-raised md-primary" ng-click="registration()">&nbsp Register &nbsp</md-button>
          
          </form>
        </md-card-content>
      </md-card>
    </md-content>
  
</div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

















   <!--  <div class="readmore-popup">

      <div class="modal-content fp-modal-content">
        <div class="modal-header fp-modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span class="fp-icon icon-fp-icon-cancel"></span></button>
          <h4 class="modal-title fp-modal-title">{{title_readmore}}</h4>
        </div>
        <div class="modal-body fp-modal-body">
	<div class="fp-modal-box">
	<span class="modal-box-icon">
	<img src="{{imgurl_readmore}}">
	</span>

	<div class="modal-box-content">
	<span>{{description_readmore}}</span>
	</div>
	
	</div>
        </div>
        <div class="modal-footer fp-modal-footer">
          <button type="button" class="btn btn-launch" data-dismiss="modal"><a href={{url_readmore}} target="_blank">Launch</a></button>
        </div>
      </div>
      
   </div> -->
